body {
    /* display: flex;
    flex-direction: column; */
    margin:0;
    padding:0;
    /* width: 100vw; */
    justify-content: center;
    align-items: center;
    /* flex-grow:1; */
}

/* Header */
ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap:1em;
    margin-right: 5em;
}

a {
    text-decoration: none;
    color:#F9FAF8;

}

li {
    
}

.header {
    display: flex;
    flex:1;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
    /* padding: 16px; */
    padding-top:16px;
    padding-bottom: 16px;
    /* width: 100vw; */
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
}

/*hero section*/
.container {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F9FAF8;
    width:375px;
    padding-right: 16px;
    flex-shrink: 1;

}
.title {
    font-weight:bolder;
    font-size: 48px;
    max-height: max-content;
}

.sub-text {
    font-size: 18px;
    color:#E5E7EB;
}

.sign-up-button button {
    background-color: #3882f6;
    border: none;
    border-radius:  6px;
    color: white;
    padding:4px 16px;
    margin-top:1em;

    
}

.image {
    display: flex;
    height:175px;
    width: 400px;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
}

/*information*/

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6em;
}

.image-content {   
    display: flex;
    gap: 2em;
    /* max-width: 120px; */
    justify-content: center;
    flex-wrap: wrap;

}

.information-title{
    font-size: 32px;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
    padding-top: 1em;
    font-weight: bolder;
}

.img-border {
    display: flex;
    height: 200px;
    width: 200px;
    border: #3882F6;
    border-style: groove;
    border-radius:  10px;
}

.images{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.descr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px

}

.quote-section{
    justify-content: center;
    align-items: center;
}
.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.quote  {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    width: 550px;
    color: #1F2937;
}

.quote-name {
    align-self: flex-end;
    font-weight: bold;
}

.test{
    display: flex;
    justify-content: center;
    padding: 32px;
}
.card-container {
    display:flex;
    padding: 30px;
    width: 700px;
    border: none;
    border-radius:  6px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
   
}
.card {
   
    display:flex;
    flex:1;
    flex-direction: column;
    color: white;
    /* align-items: center; */
    justify-content: center;
    padding-left: 2em;
    
}

.card-text {
    font-size: 28px;
    font-weight: bolder;
}
.card-subtext{
    font-size 26px;
    font-weight: bold;
}
.card-container .sign-up-button button{
    /* padding: 36px; */
    border-color: white;
    border:solid;
    border-width:medium;
}

.footer-container {
    background-color: #1F2937;
    color: white;
   
    
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}