body {
    display: flex;
    flex-direction: column;
    /* flex:1; */
    margin:0;
    padding:0;
    /* flex:1; */
}

/* Header */
ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap:1em;
    margin-right: 5em;
}

a {
    text-decoration: none;
    color:#F9FAF8;

}

li {
    
}

.header {
    display: flex;
    flex:1;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    padding: 16px;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
}

/*hero section*/
.container {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding:16px;
    height: 240px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    color: #F9FAF8;

}
.title {
    font-weight:bolder;
    font-size: 48px;
}

.sub-text {
    font-size: 18px;
    color:#E5E7EB;
}

.sign-up-button button {
    background-color: #3882f6;
    padding: 16px;
    
}

.image {
    display: flex;
    height:120px;
    width: 400px;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
}