body {
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    /* width: 100vw; */
    justify-content: center;
    align-items: center;
}

/* Header */
ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap:1em;
    margin-right: 5em;
}

a {
    text-decoration: none;
    color:#F9FAF8;

}

li {
    
}

.header {
    display: flex;
    flex:1;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
    padding: 16px;
    width: 100vw;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
}

/*hero section*/
.container {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding:16px 9em 5em;
    height: 240px;
    width: 100vw;
}
.hero-text{
    display: flex;
    /* flex:1; */
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: #F9FAF8;
    width:375px;
    padding-right: 16px;
    flex-shrink: 1;

}
.title {
    font-weight:bolder;
    font-size: 48px;
    max-height: max-content;
}

.sub-text {
    font-size: 18px;
    color:#E5E7EB;
}

.sign-up-button button {
    background-color: #3882f6;
    /* padding: 16px; */
    border: none;
    border-radius:  6px;
    color: white;
    padding:4px 16px;
    margin-top:1em;

    
}

.image {
    display: flex;
    height:175px;
    width: 400px;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
}

/*information*/

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5em;
}

.image-content {   
    display: flex;
    gap: 2em;
    max-width: 120px;
    justify-content: center;

}

.information-title{
    font-size: 32px;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
    padding-top: 1em;
    font-weight: bolder;
}

.img-border {
    display: flex;
    height: 120px;
    width: 120px;
    border: #3882F6;
    border-style: groove;
    border-radius:  10px;
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.quote-section{
    background-color: #E5E7EB;
    /* width: 100vw; */
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
}
.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 300px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.quote  {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    width: 550px;
    color: #1F2937;
}

.quote-name {
    align-self: flex-end;
    font-weight: bold;
}